:root {
	--dark: #1a1a1a;
	--white: #ffffff;
	--ligth-grey: #efefef;
	--gold: #ecd5a7;
}

body {
	font-family: 'Roboto Condensed', sans-serif; 
	font-size: 1rem;
	font-weight: 300;
	letter-spacing:.05rem;
	background-color: var( --dark);
	 }

h1,h2,h3,h4,h5,h6 . navbar-brand {
	font-family: 'Oswald', sans-serif;
	font-weight: 500 !important;
	line-heigt: 1.5 !importan;
	}

a {
	color: var ( --light);
	 }

a: hover{ 
	color: var ( --ligth )
		text-decoration: none;


.bg-dark {
	background-color: var( --dark); !important;
}
	
	.bg-ligth {
		background-color:  var( --white) !important;
		 }
	
	
	.bg-ligth-grey{ 
	background-color: var(--light-grey);
		 }

.text-gold {
	color: var ( --gold)!important
		 }
	
	.text-light
	color:  var ( --white) !important
		 }



.navbar {
	min-height: 5px;
	
	.nav-link {
		color: var(--white);
		text-transform: uppercase;
		font-size: .8px;
	 }
	
	
	
	section {
		padding: 8px 0;
	 }
	
	#slider {
		padding: 0;
		
		
		.mt-6{
			margin-top: 4rem;
			
		}
		
		.badge {
			font-weight:500;
			padding: .5rem 1,5rem;
			line-height: 1,5;
		}
		
		